<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

<br>

<div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody th:each="actor : ${actors}">
        <tr class="active-row">
            <td th:text="${actor.getActorName()}"/>
            <td th:text="${actor.getActorLastName()}"/>

        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>