<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
Hello!

<a href="rate">Фильмы с самым высоким рейтингом</a>
<br>
<a href="/getAll">Все актеры</a>

<div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>

        </tr>
        </thead>
        <tbody th:each="actor : ${actors}">
        <tr class="active-row">
            <td th:text="${actor.getActorName()}"/>
            <td th:text="${actor.getActorLastName()}"/>

        </tr>
        </tbody>
    </table>
    <!--    <a th:href="@{/people/{id}(id=${actor.getId()})}" th:text="${actor.getActorName()}">user</a>-->
</div>

</body>
</html>