<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Hello</title>
</head>
<body>

<a href="film/1">Fist film in rate (abc)</a>
<div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Film</th>
            <th>Rate</th>
        </tr>
        </thead>
        <tbody th:each="film : ${films}">
        <tr class="active-row">
            <td th:text="${film.getTitle()}"/>
            <td th:text="${film.getRate()}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>